# Dependency directories
node_modules/

# Build outputs
/dist/
/build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Cache
.cache/

# Turborepo
.turbo

# TypeScript
*.tsbuildinfo
